<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header-top">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
        
            <p class="text-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="navbar-header">
            <ul class="navbar-left">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="navbar-right">
                <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-arrow-right"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>    
        </div>
        
        <section class="banner">
            <img src="/images/img-home-banner.jpg" alt="Banner">
        </section>
    </header>
    
        <main>
            <form action="/" method="GET">
                <div class="campo">
                    <label for="nombreCompleto">Nombre y Apellido:</label>
                    <input class="input" type="text" name="nombreCompleto" id="nombreCompleto" required>
                </div>
                <div class="campo">
                    <label for="NombreDeUsuario">Nombre de Usuario:</label>
                    <input class="input" type="text" name="NombreDeUsuario" id="NombreDeUsuario" required>
                </div>
                <div class="campo">
                    <label for="fecha">Fecha de nacimiento:</label>
                    <input class="input" type="date" name="fecha" id="fecha" required>
                </div>
                <div class="campo">
                    <label for="Domicilio">Domicilio:</label>
                    <input class="input" type="text" name="Domicilio" id="Domicilio" required>
                </div>
                <div class="campo">
                    <label for="perfil">Perfil:</label>
                    <input class="radio-input" type="radio" name="perfil" id="comprador" value="comprador"> Comprador
                    <input class="radio-input" type="radio" name="perfil" id="vendedor" value="vendedor"> Vendedor
                </div>
                <div class="campo">
                    <label >Categorias de interes:</label>
                        <div class="check-campo">
                            <input class="check-input" type="checkbox" name="electro" id="electro" value="Electro"> 
                            <label class="check-label" for="electro">Electro</label>
                        </div>
                        <div class="check-campo">
                            <input class="check-input" type="checkbox" name="moda" id="moda" value="Moda"> 
                            <label class="check-label" for="moda">Moda</label>
                        </div>
                        <div class="check-campo">
                            <input class="check-input" type="checkbox" name="hogar" id="hogar" value="Hogar"> 
                            <label class="check-label" for="hogar">Hogar</label>
                        </div>
                        <div class="check-campo">
                            <input class="check-input" type="checkbox" name="jugueteria" id="jugueteria" value="jugueteria"> 
                            <label class="check-label" for="jugueteria">Jugueteria</label>
                        </div>
                        <div class="check-campo">
                            <input class="check-input" type="checkbox" name="vidasana" id="vidasana" value="vidasana">
                            <label class="check-label" for="vidasana">Vida Sana</label>
                        </div>  
                    </div>
                </div>
                <div class="campo">
                    <label>Foto de perfil:</label>
                    <input class="input" type="file" accept=".jpg , .png" name="foto">
                </div>
                <div class="campo">
                    <label for="contrasena">Contraseña:</label>
                    <input class="input" type="password" name="contrasena" id="contrasena" required> 
                </div>
                <div class="campo">
                    <label for="confirmar">Contraseña:</label>
                    <input class="input" type="password" name="confirmar" id="confirmar" required> 
                </div>

                <button class="boton" type="submit">Enviar</button>
                <button class="boton" type="reset">Borrar</button>
                
            </form>
        </main>
    </body>
</html>